net/WebCrawler/moduloMonitorWCF/Service References/MonitorServiceReference/MonitorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonitorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24252/MonitorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24252/MonitorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitorService_iniciarMonitoramento_InputMessage">
    <wsdl:part name="parameters" element="tns:iniciarMonitoramento" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_iniciarMonitoramento_OutputMessage">
    <wsdl:part name="parameters" element="tns:iniciarMonitoramentoResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_pararMonitoramento_InputMessage">
    <wsdl:part name="parameters" element="tns:pararMonitoramento" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_pararMonitoramento_OutputMessage">
    <wsdl:part name="parameters" element="tns:pararMonitoramentoResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_inserirFila_InputMessage">
    <wsdl:part name="parameters" element="tns:inserirFila" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_inserirFila_OutputMessage">
    <wsdl:part name="parameters" element="tns:inserirFilaResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_lerProximaMensagem_InputMessage">
    <wsdl:part name="parameters" element="tns:lerProximaMensagem" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_lerProximaMensagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:lerProximaMensagemResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_listarMensagensFila_InputMessage">
    <wsdl:part name="parameters" element="tns:listarMensagensFila" />
  </wsdl:message>
  <wsdl:message name="IMonitorService_listarMensagensFila_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarMensagensFilaResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonitorService">
    <wsdl:operation name="iniciarMonitoramento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/iniciarMonitoramento" message="tns:IMonitorService_iniciarMonitoramento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/iniciarMonitoramentoResponse" message="tns:IMonitorService_iniciarMonitoramento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="pararMonitoramento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/pararMonitoramento" message="tns:IMonitorService_pararMonitoramento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/pararMonitoramentoResponse" message="tns:IMonitorService_pararMonitoramento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="inserirFila">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/inserirFila" message="tns:IMonitorService_inserirFila_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/inserirFilaResponse" message="tns:IMonitorService_inserirFila_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lerProximaMensagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/lerProximaMensagem" message="tns:IMonitorService_lerProximaMensagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/lerProximaMensagemResponse" message="tns:IMonitorService_lerProximaMensagem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarMensagensFila">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorService/listarMensagensFila" message="tns:IMonitorService_listarMensagensFila_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorService/listarMensagensFilaResponse" message="tns:IMonitorService_listarMensagensFila_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMonitorService" type="tns:IMonitorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="iniciarMonitoramento">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/iniciarMonitoramento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pararMonitoramento">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/pararMonitoramento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserirFila">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/inserirFila" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lerProximaMensagem">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/lerProximaMensagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarMensagensFila">
      <soap:operation soapAction="http://tempuri.org/IMonitorService/listarMensagensFila" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitorService">
    <wsdl:port name="BasicHttpBinding_IMonitorService" binding="tns:BasicHttpBinding_IMonitorService">
      <soap:address location="http://localhost:24252/MonitorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>