net/WebCrawler/WebApplication/Service References/RastreadorServiceReference/RastreadorWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rastrear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nivel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rastrearResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="rastrearLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="link" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nivel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rastrearLinkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>