trunk/net/WebCrawler/moduloRastreadorWCF/Service References/MonitorServiceReference/MonitorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="inserirFila">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirFilaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="lerProximaMensagem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="lerProximaMensagemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lerProximaMensagemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>